<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://unmc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>unmc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>unmc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$unmc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="enmndbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=unmc.cloudapp.net;Initial Catalog=enmndb;Persist Security Info=True;User ID=unmc;Password=DSunmc2015" Name="server=unmc.cloudapp.net;user id=unmc;password=DSunmc2015;persistsecurityinfo=True;database=enmndb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="azureENMN.Models.enmndbEntities, azureENMN" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=unmc.cloudapp.net;Initial Catalog=enmndb;Persist Security Info=True;User ID=unmc;Password=DSunmc2015" Name="server=unmc.cloudapp.net;user id=unmc;password=DSunmc2015;persistsecurityinfo=True;database=enmndb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="azureENMN.Models.ApplicationDbContext, azureENMN" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>server=unmc.cloudapp.net;user id=unmc;password=DSunmc2015;persistsecurityinfo=True;database=enmndb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)enmndbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ENMNModel.csdl|res://*/Models.ENMNModel.ssdl|res://*/Models.ENMNModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=unmc.cloudapp.net;user id=unmc;password=DSunmc2015;persistsecurityinfo=True;database=enmndb"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>